@charset "UTF-8";
body {
  padding: 0 50px;
  font-family: 'Montserrat',sans-serif;
}

header {
  background-image: url("../img/background/background.jpg");
  margin: -10px -58px -40px;
  padding: 10px 60px;
}

header h1 {
  font-family: 'Ruthie';
  font-size: 7em;
  font-weight: normal;
  text-shadow: 0px 0px 30px #c2cdd6;
}

select {
  font-family: "Montserrat";
  padding: 3px;
}

input[type='button'], input[type='submit'], a {
  cursor: pointer;
}

#titulo {
  font-family: 'Lovers Quarrel';
  font-size: 5em;
  font-weight: normal;
  padding-left: 60px;
  text-transform: lowercase;
  margin: 20px 55px 0;
}

div > #titulo {
  border-bottom: solid 1px #c2cdd6;
}

a {
  color: #3d4d5c;
  text-decoration: none;
}

/********MENÚ*************/
#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 0;
  -webkit-box-shadow: #52667a 0px 0px 30px;
          box-shadow: #52667a 0px 0px 30px;
  margin: 40px -58px;
}

li {
  list-style: none;
  height: 30px;
}

#menu > li {
  padding: 10px 30px;
}

li.menuitem {
  cursor: pointer;
}

#search {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

#search input {
  padding: 7px;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  position: relative;
  top: -7px;
  width: 225px;
}

#search img {
  cursor: pointer;
  width: 16px;
  position: relative;
  right: 30px;
  top: -5px;
}

.adminoptions {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  position: relative;
  top: -5px;
}

.profile {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  position: relative;
  top: -5px;
}

#imgprofile {
  width: 20px;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

#login {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  position: relative;
  top: -7px;
  padding-left: 0 !important;
}

#carrito {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
  position: relative;
  top: -7px;
  padding-left: 0 !important;
}

#carrito p {
  background-color: #52667a;
  color: white;
  font-size: .8em;
  position: relative;
  top: -35px;
  left: 17px;
  border-radius: 15px;
  padding: 4px 0;
  padding-left: 8px;
  width: 15px;
}

/********SUBMENÚS**********/
.subcat {
  position: absolute;
  background-color: white;
  padding: 5px 20px 10px;
  margin-left: -20px;
  border-radius: 10px;
  -webkit-box-shadow: #52667a 0px 5px 5px -5px;
          box-shadow: #52667a 0px 5px 5px -5px;
}

.subcat li {
  border-top: solid 1px #c2cdd6;
  padding: 7px 0 0;
  min-width: 150px;
}

/*********BANNER***********/
#bannerimg {
  width: 90%;
  margin: 0 auto;
}

#bannerback, #bannerforward {
  position: relative;
  bottom: 100px;
  cursor: pointer;
}

/********ARTÍCULOS*********/
#articulos {
  margin: 20px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.articulo {
  cursor: pointer;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 10px;
  padding: 15px;
}

.articulo img {
  width: 150px;
  margin: 0 auto;
}

.articulo h2 {
  text-align: center;
}

.articulo h3 {
  text-align: right;
  padding: 0 20px;
  margin: 5px 0;
}

.articulo p {
  width: 90%;
  margin: auto;
  text-align: justify;
}

/******** BLOQUEO ********/
#block {
  background-color: #52667a;
  opacity: 0.75;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

/*********** CERRAR **********/
#cerrar {
  border: none;
  background-color: transparent;
  font-size: 4em;
  font-family: 'Montez';
  color: #3d4d5c;
  position: absolute;
  top: -20px;
  right: 15px;
  cursor: pointer;
}

/*********MODALES****/
#modal {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  background-color: white;
}

#modal h1 {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 3em;
  margin: 0;
  font-weight: normal;
}

/******VISUALIZACIÓN DE UN ARTÍCULO**********/
.verarticulo {
  width: 60%;
  height: 300px;
}

/******IMÁGENES******/
.verarticulo img {
  padding: 4px;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
}

#artimgs {
  max-width: 50%;
}

#imgart {
  width: 50%;
  margin: 10px;
  margin-right: 50px;
}

#divminiaturas {
  width: 45%;
  height: 25%;
  position: relative;
  left: 30px;
}

.miniatura {
  cursor: pointer;
  margin: 5px;
  width: 25px;
}

/*********TEXTO/FORM*******/
#arttext {
  margin-left: -10%;
}

.verarticulo h2 {
  font-size: 1em;
  text-align: right;
  padding-right: 20px;
}

.verarticulo form {
  text-align: center;
  position: absolute;
  bottom: 40px;
  right: 160px;
}

#cantmas, #cantmenos {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  padding: 0 !important;
  width: 22px;
  height: 22px;
  position: relative;
  font-family: sans-serif;
  top: 1px;
}

#add {
  background-image: url(../img/icons/add-to-cart.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 10px center;
  height: 40px;
  width: 200px;
  text-align: right;
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  cursor: pointer;
}

/********* CANTIDAD **********/
.cantidad input[type=number] {
  width: 40px;
  text-align: right;
}

/********VISUALIZACIÓN DEL CARRITO********/
.vercarrito {
  width: 80%;
  height: 60%;
  top: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vercarrito table {
  width: 95%;
  max-height: 80%;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
  display: block;
  height: 80%;
}

.vercarrito table img {
  vertical-align: middle;
}

.vercarrito table thead tr :nth-child(1) {
  width: 39.5%;
}

.vercarrito table thead tr :nth-child(2) {
  width: 20%;
}

.vercarrito table thead tr :nth-child(3) {
  width: 15%;
}

.vercarrito table thead tr :nth-child(4), .vercarrito table thead tr :nth-child(5) {
  width: 15%;
}

.vercarrito table thead tr :nth-child(5) span {
  position: relative;
  left: 20px;
}

.vercarrito table tbody {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  max-height: 85%;
}

.vercarrito table tbody tr :nth-child(1) {
  width: 35%;
}

.vercarrito table tbody tr :nth-child(1) img {
  width: 25px;
}

.vercarrito table tbody tr :nth-child(2) {
  width: 20%;
}

.vercarrito table tbody tr :nth-child(3), .vercarrito table tbody tr :nth-child(4), .vercarrito table tbody tr :nth-child(5) {
  width: 15%;
}

.vercarrito table tfoot tr td {
  padding-top: 20px;
}

.vercarrito table tfoot tr td:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
  width: 88%;
}

.vercarrito table tfoot tr :nth-child(2) {
  width: 15%;
  text-align: left;
  padding-left: 25px;
}

.vercarrito table tfoot tr :nth-child(3) {
  width: 10%;
}

.vercarrito table tr td:nth-child(1) {
  text-align: left;
}

.vercarrito table tr td {
  border-top: solid 1px #c2cdd6;
  padding: 0 15px;
}

.vercarrito table tr th {
  padding: 15px 0;
}

.vercarrito table b {
  text-align: right;
}

.vercarrito #procesarcompra {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  width: 180px;
  margin: 0 auto;
}

.vercarrito .eliminar {
  cursor: pointer;
}

/*********VISUALIZACIÓN DEL LOGIN*********/
.verlogin {
  width: 300px;
  height: 220px;
  position: fixed;
  top: 250px;
  padding-bottom: 20px !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.verlogin h1 {
  text-align: center;
  margin-bottom: 10px !important;
}

.verlogin input[type='submit'] {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  padding: 5px;
  width: 150px;
  margin: 15px auto 0;
}

/**********REGISTRO***********/
.verregistro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 530px;
  height: 330px;
}

.verregistro h1 {
  text-align: center;
  margin-bottom: 15px !important;
}

.verregistro table tr td:first-of-type {
  text-align: right;
}

.verregistro input[type='submit'] {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  padding: 10px 0;
  width: 150px;
  margin: 30px auto 0;
}

/******** CHECKOUT **********/
.vercheckout {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
  height: 400px;
}

.vercheckout table {
  text-align: center;
  border-collapse: collapse;
}

.vercheckout table thead, .vercheckout table tbody, .vercheckout table tfoot {
  display: block;
}

.vercheckout table thead td:first-of-type {
  text-align: left;
  padding-left: 20px;
}

.vercheckout table tbody {
  max-height: 88px;
  overflow-y: auto;
  overflow-x: hidden;
}

.vercheckout table tfoot tr :first-child {
  width: 670px;
  text-align: right;
  font-weight: bold;
}

.vercheckout table tfoot tr :last-child {
  width: 120px;
  text-align: right;
  padding-right: 37px;
}

.vercheckout table tr :nth-child(1) {
  width: 250px;
  text-align: left;
  padding-left: 20px;
}

.vercheckout table tr :nth-child(2) {
  width: 175px;
}

.vercheckout table tr :nth-child(3) {
  width: 125px;
}

.vercheckout table tr th {
  padding-bottom: 10px;
  text-align: center !important;
}

.vercheckout table tr td {
  border-top: solid 1px #c2cdd6;
}

.vercheckout table tr :nth-child(4), .vercheckout table tr :nth-child(5) {
  text-align: right !important;
  width: 125px;
  padding-right: 20px;
}

.vercheckout #receptor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.vercheckout #receptor .datos {
  padding-left: 40px;
}

.vercheckout #comprar {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  position: absolute;
  bottom: 40px;
  left: 380px;
  width: 120px;
}

/**********FOOTER************/
footer {
  background-color: #3d4d5c;
  color: white;
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
  clear: both;
  position: relative;
  bottom: -120px;
  margin: 50px -58px 0 -58px;
}

#divadmin input[type='button'], #divadmin input[type='submit'] {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  padding: 5px 10px !important;
  margin-left: 20px;
}

#divadmin #titulo {
  font-size: 8em;
  width: 80%;
  border: none !important;
}

#divadmin h1 {
  font-family: 'Lovers Quarrel';
  font-size: 6em;
  font-weight: normal;
  margin: 0;
  width: 100%;
  display: block;
}

#divadmin > div {
  border-top: solid 1px #c2cdd6;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#divadmin table tr th {
  text-transform: capitalize;
}

#divadmin table tr td {
  padding: 10px;
}

#divadmin table tr td[colspan='2'] {
  text-align: center;
}

/********* Edición de categorías*********/
.vereditcat {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vereditcat h1 {
  margin-bottom: 20px !important;
}

.vereditcat input[type='submit'] {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  margin: 30px auto 0;
}

/*********Edición de artículos*********/
.vereditart {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  height: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vereditart input[type='submit'] {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  width: 175px;
  margin: 30px auto 0;
}

.vereditart input[type='number'] {
  width: 40px;
}

/*********Colores del nuevo artículo*********/
.veraddcolores {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  height: 370px;
}

.veraddcolores div {
  margin: 10px auto;
}

.veraddcolores table {
  text-align: center;
}

.veraddcolores input[type='submit'] {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  margin: 20px 10px 0;
}

#divdatos table {
  margin: 30px auto 20px;
}

#divdatos table tr td:first-of-type {
  text-align: right;
}

#divdatos table tr td {
  padding: 5px 10px;
}

#divdatos input[type='button'] {
  padding: 10px 20px;
  font-family: "Montserrat";
  background-color: white;
  border: solid 1px #c2cdd6;
  border-radius: 5px;
  -webkit-box-shadow: lightgrey 0px 0px 20px;
          box-shadow: lightgrey 0px 0px 20px;
  margin-top: 20px;
}

#divpedidos {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pedidos .pedido table {
  margin: 60px auto;
  border-collapse: collapse;
  width: 628px;
}

#pedidos .pedido table :not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  display: none;
}

#pedidos .pedido table tr:nth-of-type(2) {
  display: none;
}

#pedidos .pedido table tr:nth-of-type(3) {
  display: none;
}

#pedidos .pedido table .titulo {
  font-family: 'Lovers Quarrel';
  font-size: 2.5em;
  background-color: #52667a;
  color: white;
  border: none;
  width: 628px;
}

#pedidos .pedido table .titulo div.see {
  display: inline-block !important;
  margin-left: 10px;
  cursor: pointer;
}

#pedidos .pedido table .titulo div.see img:first-of-type {
  width: 20px;
  position: relative;
  left: 5px;
  top: 7px;
}

#pedidos .pedido table .titulo div.see img:last-of-type {
  width: 12px;
}

#pedidos .pedido table .titulo th {
  font-weight: normal;
  padding: 0px 20px;
}

#pedidos .pedido table .titulo th:first-of-type {
  text-align: left;
  width: 300px;
}

#pedidos .pedido table .titulo th:nth-of-type(2) {
  text-align: right;
  width: 180px;
  padding: 0;
}

#pedidos .pedido table .titulo th:nth-of-type(2) span {
  position: relative;
  left: 70px;
}

#pedidos .pedido table .titulo th:nth-of-type(3) {
  text-align: right;
  width: 120px;
}

#pedidos .pedido table tr {
  border-top: solid 1px #c2cdd6;
}

#pedidos .pedido table tr th, #pedidos .pedido table tr td {
  padding: 5px 20px;
}

#pedidos .pedido table tr th {
  padding: 15px 20px 10px;
}

#pedidos .pedido table tr td:first-child {
  width: 300px;
}

#pedidos .pedido table tr td:nth-child(2) {
  width: 180px;
  text-align: center;
}

#pedidos .pedido table tr td:last-of-type {
  text-align: right;
  padding-right: 20px;
  width: 120px;
}

#pedidos .pedido table tr:last-of-type td {
  padding-top: 20px;
}

#pedidos .pedido table tr:last-of-type td:first-of-type {
  text-align: right;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */